<div class="login-box">
    <label class="text-center">Observatorio Empresarial</label>
    <div class="card card-container" ng-show="formLogin">
        <form name="formLogin" class="form-login form-horizontal" >
            <div ng-class="{ 'has-error' : formLogin.email.$invalid && formLogin.email.$touched, 'has-success' : !formLogin.email.$invalid && !formLogin.email.$touched }">
                <div class="inner-addon right-addon">
                    <i class="fa fa-envelope-o"></i>
                    <input type="text" id="inputEmail" class="form-control" name="email" placeholder="Email" ng-model="email" ng-required="true">
                </div>
                <p class="help-inline red" ng-show="formLogin.email.$invalid && formLogin.email.$touched">El email es requerido.</p>
            </div>
            <div ng-class="{ 'has-error' : formLogin.pass.$invalid && formLogin.pass.$touched, 'has-success' : !formLogin.pass.$invalid && !formLogin.pass.$touched }">
                <div class="inner-addon right-addon">
                    <i class="fa fa-key"></i>
                    <input type="password" id="inputContrasena" class="form-control" name="pass" placeholder="Contraseña" ng-model="contrasena" ng-required="true">
                </div>
                <p class="help-inline red" ng-show="formLogin.pass.$invalid && formLogin.pass.$touched">La contraseña es requerida.</p>
            </div>
            <div ng-show="error" class="error-box">El email o la contraseña son incorrectos.</div>
            <button class="btn btn-primary btn-login" ng-click="logIn();" ng-disabled="formLogin.$invalid"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Ingresar</button>
        </form>
    </div>
    <div class="acercade"  ng-show="formAcercade">
        <form name="acercade" class="form-login form-horizontal">
            <div>
                <div class="text-center margin inner-addon right-addon">
                    <div>
                        <p>
                            Herramienta para recopilar datos, gestionarla y analizarla; con el fin de generar informacion valiosa para los interesados en el ambito del emprendedurismo
                        </p>
                        <p>
                            Oscar López Villegas | Carlos Jiménez González
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-show="errorConn" id="info-message" class="alert alert-danger fade in">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;
    Ha ocurrido un error inesperado, inténtelo de nuevo
</div>
<footer class="text-center">
    <div class="col-md-4 col-sm-4">
        <p><a data-ng-click="verLogin()" class="ww">&COPY; 2016 Observatorio Empresarial</a></p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p>ITCR</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <p><a data-ng-click="verAcercade()" class="ww">Acerca de</a></p>
    </div>
</footer>